<%- include('header') %>

<div class="container py-2 px-2 my-3">
    <% if (patients.length > 0) {%>        
        <table class="table table-hover "> 
            <thead class="table-success table-bordered">                         
                <tr>
                    <th scope="col"> Nom </th>
                    <th scope="col"> Prénom </th>
                    <th scope="col"> Date de Naissance </th>
                    <th scope="col"> Numéro de sécurité sociale</th>
                    <th scope="col"> Mutuelle </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < patients.length; i++) {%>
                    <tr>
                        <td><%= patients[i].nom_patient %></td>
                        <td><%= patients[i].prenom_patient %></td>
                        <td><%= patients[i].date_naissance %></td>
                        <td><%= patients[i].num_secu_sociale %></td>
                        <td><%= patients[i].nom_mutuelle %></td>
                        <td>
                            <a class="btn" href="/patient/edit/<%= patients[i].id_patient %>"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn" href="/patient/delete/<%= patients[i].id_patient %>"><i class="bi bi-x-square"></i></a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } %> 
</div>

<div class="container mt-3 px-3 py-3 bg-light border border-3 rounded border-dark border-opacity-50">
    <h3 class="mb-3 pb-3 text-success border-bottom border-2 border-success border-opacity-50">Ajouter un nouveau patient</h3>
    <form action="/patient/add" method="POST" class="row g-3 pt-3">
        <div class="col-md-4">
            <label class="form-label" for="nom_patient">Nom</label>
            <input class="form-control" type="text" name="nom_patient" id="nom_patient">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="prenom_patient">Prenom</label>
            <input class="form-control" type="text" name="prenom_patient" id="prenom_patient">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="date_naissance">Date de Naissance</label>
            <input class="form-control" type="date" name="date_naissance" id="date_naissance">
        </div>
        <div class="col-md-8">
            <label class="form-label" for="num_secu_sociale">Numéro de sécurité sociale</label>
            <input class="form-control" type="text" name="num_secu_sociale" id="num_secu_sociale" placeholder="15 chiffres">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="id_mutuelle">Mutuelle</label>
            <select class="form-control" name="id_mutuelle" id="id_mutuelle">
                <% mutuelles.forEach(mutuelle => { %>
                    <option value="<%= mutuelle.id_mutuelle %>"><%= mutuelle.nom_mutuelle %></option>
                <% }); %>
            </select>
        </div>
        <div class="col-md-12 text-end py-2">
            <button class="btn btn-success" type="submit">Envoyer</button>
        </div>
    </form>
</div>

<%- include('footer') %>
