<%- include('header') %>

<div id="container">
    <%- include('sidebar') %>

    <div id="content">
        <h1>Editer un patient</h1>
        <% debugger; %>
        <% if (id_patient !== undefined) { %>
            <form action="/patient/edit" method="POST">
                <div>
                    <div class="row">
                        <input type="text" name="id_patient" hidden value="<%= id_patient %>">
                        <div class="col-sm-12 col-md-6">
                            <div class="input-group fluid">
                                <span class="tooltip" aria-label="Numéro de sécurité sociale">
                                    <label for="frmNumSecu">Numéro de sécurité sociale</label>
                                </span>
                                <input type="text" name="num_secu_sociale" id="frmNumSecu"
                                    placeholder="Numéro de sécurité sociale" value="<%= num_secu_sociale%>">
                            </div>
                            <div class="input-group fluid">
                                <span class="tooltip" aria-label="Nom">
                                    <label for="frmNom">Nom</label>
                                </span>
                                <input type="text" name="nom_patient" id="frmNom" placeholder="Nom" value="<%= nom_patient%>">
                            </div>
                                        <div class="input-group fluid">
                                            <label for="frmPrenom">Prenom</label>
                                            <input type="text" name="prenom_patient" id="frmPrenom"
                                                placeholder="Prenom" value ="<%= prenom_patient%>">
                                        </div>
                                        <div class="input-group fluid">
                                            <label for="frmDateNaissance">Date de Naissance</label>
                                            <input type="date" name="date_naissance" id="frmDateNaissance"
                                                placeholder="JJ/MM/AAAA" value ="<%= date_naissance%>">
                                        </div>
                                        <div class="input-group fluid">
                                            <label for="frmMutuelle">Mutuelle</label>
                                            <input type="text" name="id_mutuelle" id="frmMutuelle"
                                                placeholder="Mutuelle" value ="<%= id_mutuelle%>">
                                        </div>
                                        <input type="submit" class="secondary large" value="Valider"><br>
                                    </div>
                                    <div class="input-group fluid">
                                        <a href="/patient/home" class="button">Annulation</a><br>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            <% } else { %>
            <div class="card error"> Aucune donnée à traiter </div>
        <% } %>
    </div>
<%- include('footer'); %>