<%- include('header') %>

<% if (id_prescription !== undefined) { %>
    <div class="container mt-3 px-3 py-3 bg-light border border-3 rounded border-dark border-opacity-50">

        <h3 class="mb-3 pb-3 text-success border-bottom border-2 border-success border-opacity-50">Editer une prescription</h3>

        <form action="/prescription/edit" method="POST" class="row g-3 pt-3">
            <input type="text" name="id_prescription" hidden value="<%= id_prescription %>">
            <div class="col-md-4">
                <label class="form-label" for="id_patient">Patient</label>
                <select class="form-control" name="id_patient" id="id_patient">
                    <% patients.forEach(patient => { %>
                        <option value="<%= patient.id_patient %>" <%= patient.id_patient === id_patient ? 'selected' : '' %>>
                            <%= patient.nom_patient %> <%= patient.prenom_patient %>
                        </option>
                    <% }); %>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="id_medicament">Médicament</label>
                <select class="form-control" name="id_medicament" id="id_medicament">
                    <% medicaments.forEach(medicament => { %>
                        <option value="<%= medicament.id_medicament %>" <%= medicament.id_medicament === id_medicament ? 'selected' : '' %>>
                            <%= medicament.nom_medicament %>
                        </option>
                    <% }); %>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="date_prescription">Date de Prescription</label>
                <input class="form-control" type="date" name="date_prescription" id="date_prescription" value="<%= date_prescription %>">
            </div>
            <div class="col-md-8">
                <label class="form-label" for="posologie">Posologie</label>
                <input class="form-control" type="text" name="posologie" id="posologie" value="<%= posologie %>">
            </div>
            <div class="col-md-12 text-end py-2">
                <button class="btn btn-success" type="submit">Enregistrer</button>
                <a href="/prescription/home" class="btn btn-danger">Annuler</a><br>
            </div>
        </form>

    </div>
<% } else { %>
    <div class="card error">Erreur dans l'importation des données</div>
<% } %>

<%- include('footer'); %>
